@{
    ViewBag.Title = "IMS Rnd";
}

<div class="jumbotron">
    <h1>IMS RnD Labs</h1>
    <p class="lead">IMS RnD Labs is a CIS Cloud & DC Practice under Zensar Technologies. Below url's to CI and CD tools.</p>
    <p><a href="http://teamcity.imsrndlabs.com:9090" class="btn btn-primary btn-lg">CI-TeamCity&raquo;</a></p>
    <p><a href="http://nuget.imsrndlabs.com:8085" class="btn btn-primary btn-lg">Package-NugetServer&raquo;</a></p>
    <p><a href="http://octopus.imsrndlabs.com:8080" class="btn btn-primary btn-lg">CD-Octopus&raquo;</a></p>
</div>